.stockList .list-row{
    border-bottom: 1px solid black;
    /* height: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 3fr 2fr;
    align-items: center;
    justify-items: center;
    min-height: 50px;
    line-height: 1.4;
    text-align: center;
}