.stockListView{
    flex: 1;
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'index index'
    'stock img';
    gap: 10px;
    padding: 0px 11vw;
    height: calc(100vh-107px);
    min-height: 0;
}
.stockListView .index-carousel{
    grid-area: index;
    border: 1px solid black;
}
.stockListView .stockList{
    grid-area: stock;
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.stockListView .thumbNail{
    grid-area: img;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 지수 캐러셀 설정 */
.stockListView .index .slick-list,
.stockListView .index .slick-list .slick-track,
.stockListView .index .slick-list .slick-track .carousel-slide{
    background-color: white;
    color: black; 
    height: 222px;
    margin: 0 ;
}
.stockListView .index .slick-slider.slick-initialized button {
    color: rgb(148, 147, 147);
}
.stockListView .index .slick-dots li.slick-active::after {
    background: rgb(148, 147, 147);
}
.stockListView .index .slick-slider.slick-initialized .slick-dots.slick-dots-bottom li button{
    background: rgb(148, 147, 147);
}
.stockListView .index .slick-slider.slick-initialized .slick-dots.slick-dots-bottom .slick-active button{
    background: gray;
}
