.stockListView{
    flex: 1;
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    grid-template-rows: 1.5fr 4fr;
    grid-template-areas: 
    'index index'
    'stock img';
    gap: 10px;
    padding: 0px 11vw;
}
.stockListView .index{
    grid-area: index;
    border: 1px solid black;
}
.stockListView .stockList{
    grid-area: stock;
    border: 1px solid black;
}
.stockListView .thumbNail{
    grid-area: img;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 지수 캐러셀 설정 */
.stockListView .index .slick-list,
.stockListView .index .slick-list .slick-track,
.stockListView .index .slick-list .slick-track .carousel-slide{
    background-color: white;
    color: black; 
    height: 222px;
    /* text-Align: center; */
    margin: 0 ;
}
.stockListView .index .slick-slider.slick-initialized button {
    color: rgb(148, 147, 147);
}
.stockListView .index .slick-dots li.slick-active::after {
    background: rgb(148, 147, 147);
}
.stockListView .index .slick-slider.slick-initialized .slick-dots.slick-dots-bottom li button{
    background: rgb(148, 147, 147);
}
.stockListView .index .slick-slider.slick-initialized .slick-dots.slick-dots-bottom .slick-active button{
    background: gray;
}

/* 주식 종목 리스트 행 */
/* .stockListView .stockList .list-row{
    border-bottom: 1px solid black;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 3fr;
    align-items: center;
    justify-items: center;
} */
/* 테이블 헤더 */
/* .stockListView .stockList .table-header svg{
    visibility: hidden;
} */
/* 테이블 리스트 */
/* .stockListView .stockList .table-body span:has(svg){
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
} */