.sideBar a{
    text-decoration: none;
    color: gray;
    font-family: inherit;
    cursor: pointer;
    margin: 0px auto;
    padding: 10px;
    width: 200px;
}
.sideBar a:hover:not(.active-sidebar) {
    color: white;
    border-radius: 10px;
    background: #171d27;
}
.sideBar .active-sidebar {
    color: white;
    font-weight: bold;
    background: #222b3a;
    border-radius: 10px;
}