.tab1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    min-height: calc(100vh - 100px);
    margin-top: 20px;
    gap: 10px;
    color: gray;
}
/* 자산 정보 관련 데이터 */
.tab1 .label {
    font-size: 15px;
    font-weight: bold;
}
.tab1 .assetInfo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tab1 .assetInfo .asset-row {
    flex: 1;
    border: 1px solid darkgray;
    border-radius: 10px;
    background: #171d27;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 80px;
    padding-left: 15px;
    font-weight: bold;
    justify-content: center;
}
.tab1 .assetInfo .asset-row .label {
    font-size: 13px;
    font-weight: normal;
}
/* 사용자 정보 */
.tab1 .userInfo{
    display: flex;
    background: #171d27;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 130px;
    margin: 20px auto;
}
.tab1 .userInfo .left{
    display: flex;
    gap: 20px;
}
.tab1 .userInfo .left img {
    border: 1px solid gray;
    border-radius: 50%;
    height: 80px;
}
.tab1 .userInfo .left .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.tab1 .userInfo .left .content .nickname {
    display: flex;
    gap: 10px;
}
.tab1 .userInfo .left .content .nickname span {
    font-weight: bold;
}
.tab1 .userInfo .left .content .nickname button {
    padding:4px 15px;
    border-radius: 6px;
    background: rgb(13, 17, 23);
    color: gray;
    border: 1px solid gray;
    cursor: pointer;
}
.tab1 .userInfo .left .content .nickname button:hover {
    color: white;
    background: #171d27;
}
.tab1 .userInfo .left .content .follow {
    display: flex;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: gray;
    gap: 10px;
    cursor: pointer;
}
.tab1 .userInfo .left .content .follow:hover:not(.num){
    color: white;
}
.tab1 .userInfo .left .content .follow .num{
    font-weight: bold;
    color: white;
}
.tab1 .userInfo .right {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: lighter;
}

/* 보유 주식 리스트 헤더 */
.tab1 .holdings{
    flex: 1;
    border: 1px solid gray; 
    border-radius: 10px;
    background: #171d27;
    color: gray;
    overflow-y: auto;
}
.tab1 .holdings .table-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid gray;
    height: 40px;
    gap: 30px;
}
.tab1 .holdings .table-header>*:not(.right) {
    width: 250px;
}
.tab1 .holdings .table-header .right {
    flex: 1;
    display: flex;
}
.tab1 .holdings .table-header .right span {
    /* border: 1px solid tomato; */
    flex:1;
    text-align: right;
}

/* 테이블 행 */
.tab1 .holdings .table-row {
    border-bottom: 1px solid gray;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: none;
    color: gray;
}
.tab1 .holdings .table-row:hover {
    background: #1a212c;
    color: white;
}
.tab1 .holdings .table-row img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 50%;
}
.tab1 .holdings .table-row > *:not(.right, img){
    width: 250px;
}
.tab1 .holdings .table-row .right {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.tab1 .holdings .table-row .right span {
    width: 100%;
    text-align: right;
    padding-right: 5px;
}
