.tab1{
    flex: 1;
    border: 1px solid black;
    margin: 0px auto;
    min-width: 700px;
    max-width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "img info"
    "list list";
    gap: 1.5vh;
    padding: 1.2vh;
    border: 1px solid black;
}
.tab1 .charac{
    grid-area: img;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: white;
    height: 330px;
}
.tab1 .assetInfo{
    grid-area: info;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background: white;
    padding-left: 50px;
}
.tab1 .holdings{
    grid-area: list;
    border: 1px solid black;
    /* overflow-y: auto; */
    width: 100%;
    /* display: flex;
    align-items: start; */
    height: 50vh;
    background: white;
}

/* 대표 캐릭터 패널 */
.charac .represent-charac{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.charac .nickname-change{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

/* 총 자산 패널 */
.tab1 .assetInfo .asset-row{
    display: flex;
    gap: 10px;
}