.tab2{
    border: 1px solid black;
    flex: 1;
    display: grid;
    margin: 0px 1.5vw;
    padding:0px 8.5vw;
    grid-template-rows: 1fr 2fr;
    gap: 50px;
}
.tab2 .filter{
    border: 1px solid black;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tab2 .list{
    border: 1px solid black;
    margin-bottom: 2vh;
    overflow: auto;
}

/* 거래 필터 */
.tab2 .filter .row{
    display: flex;
    align-items: center;
    padding: 25px 60px;
}
.tab2 .filter .label{
    font-size: 24px;
    color: black;
}
.tab2 .filter .middle-group{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
.tab2 .filter button{
    padding: 5px 20px;
    font-size: 17px;
}

/* 거래 내역 리스트 */
.tab2 .list .list-row{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr 1fr 1fr 1fr .7fr;
    justify-items: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
}