.tab3 {
    flex: 1;
    min-height: calc(100vh - 100px);
    margin-top: 20px;
}
.tab3 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab3 .header .nav-button {
    display: flex;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 3px;
}
.tab3 .header .nav-button > * {
    font-size: 14px;
    text-decoration: none;
    color: gray;
    border-radius: 7px;
    padding: 3px 13px;
}
.tab3 .header .nav-button .active-button{
    font-weight: bold;
    background: #222b3a;
    color: white;
}