.cate-modal{
    background: #171d27;
    color: gray;
    width: 850px;
    /* height: 850px; */
    border-radius: 8px;
}
.cate-modal .header{
    height: 250px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}
.cate-modal .header .name{
    font-size: 30px;
    margin-bottom: 50px;
}
.cate-modal .header .num{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.cate-modal .header .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cate-modal .header .right{
    margin-right: 10px;
    cursor: pointer;
}
.cate-modal .stockList{
    border-top: none;
    border-right: none;
    border-left: none;
}
.cate-modal .stockList > *{
    text-decoration: none;
    color: gray;
}
.cate-modal .stockList .list-row:hover{
    color: white;
    background: #1a212c; 
}