.nick-change-modal{
    background: white;
    border-radius: 8px;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nick-change-modal .middle{
    align-self: flex-end;
    margin-right: 70px;
    display: flex;
    gap: 30px;
}
.nick-change-modal .footer{
    align-self: flex-end;
    margin-right: 70px;
}