.globalNav{
    width: 100%;
    background: #1A1A1A;
    
}
.globalNav .global-nav-container{
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 0px auto;
    max-width: 1300px;
}
#logo{
    font-weight: bold;
    font-size: 19px;
}
.globalNav .global-nav-container .left-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.globalNav .global-nav-container .right-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* 버튼과 Link (a) 컴포넌트 디자인 초기화 */
.globalNav .global-nav-container :is(.left-group,.right-group) button, 
.globalNav .global-nav-container :is(.left-group,.right-group) a{
    background: none;
    text-decoration: none;
    border: none;
    color: lightgray;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    padding: 0 15px;
}

/* 이미지 크기 조정 */
.globalNav .global-nav-container :is(.left-group,.right-group) img{
    height: 30px;
}

/* hovering시 데코레이션 */
.globalNav .global-nav-container :is(.left-group,.right-group) button:hover, 
.globalNav .global-nav-container :is(.left-group,.right-group) a:hover{
    color: white;
}

/* 현재 페이지가 무엇인지 알려주는 데코레이션 */
