.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 50px 0px;
    gap: 60px;
    height: 400px;
    font-size: 20px;
    color: black;
}
.login-container .header{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 60px;
}
.login-container .header .login-form{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    row-gap: 60px;
    align-items: center;
}
.login-container .header .login-form input{
    height: 20px;
}
/* .login-container .header button{
    width: 50%;
    align-self: center;
    font-size: 18px;
} */
.login-container .footer{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
}
.login-container .footer button{
    width: 25%;
    align-self: center;
    font-size: 18px;
    cursor: pointer;
}
.login-container .footer a{
    border: 1px solid gray;
    /* padding:3px 50px; */
    width: 25%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(230, 230, 230, 0.548);
    cursor: pointer;
}