.indices-layout{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'graph name'
    'graph up-down';
}
.indices-layout .name{
    grid-area: name;
    align-self: flex-end;
    justify-self: center;
    color: gray;
    padding-bottom: 30px;
    font-size: 30px;
}
.indices-layout .graph{
    grid-area: graph;
    margin: 5px 0 20px 20px;
}
.indices-layout .up-down{
    grid-area: up-down;
    display: flex;
    justify-content: space-around;
    /* padding-left: 30px;
    gap: 80px; */
    padding-top: 20px;
    font-size: 25px;
}