/* 작성 글 및 작성 댓글 관련 행 */
/* grid 대신에 flex 사용하는 걸 다시 고려해보기 */
/* .record-row {
    border-bottom: 1px solid gray;
    color: white;
    display: grid;
    grid-template-columns: .8fr 8fr 2.5fr;
    height: 40px;
    align-content: center;
    align-items: center;
}
.record-row .type {
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    font-size: 11px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 3px 8px ;
    line-height: 1;
}
.record-row .right{
    text-align: right;
    padding-right: 15px;
    font-size: 11px;
    color: gray;
} */
 
/* flex를 이용한 css */
.record-row {
    border-bottom: 1px solid gray;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.record-row .left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.record-row .left .type {
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    font-size: 11px;
    display: flex;
    line-height: 1;
    padding: 3px 6px;
    margin-left: 11px;
}
/* .record-row .left > *:not(.type) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
} */
.record-row .right{
    padding-right: 15px;
    font-size: 11px;
    color: gray;
}

/* 좋아요한 글 행 */
.liked-posts-row {
    border-bottom: 1px solid gray;
    height: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.liked-posts-row .left {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    align-items: center;
    color: white;
}
.liked-posts-row .left .type{
    font-size: 11px;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    line-height: 1;
    padding: 3px 6px;
}
.liked-posts-row .left .user-nickname {
    color: gray;
    font-weight: bold;
    font-size: 13px;
}
.liked-posts-row .right {
    color: gray;
    font-size: 11px;
    margin-right: 15px;
}